

body{
    background-color:#fff8ec;
    
}

.title{
    color: #284395;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80;
    margin-top: 50px;
    margin-left: 50px;
    
}

.subtitle{
    color: #284395;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30;
    margin-top: -50px;
    margin-left: 50px;
}

.separator{
  height: 5px;
  background: #284395;
  background: linear-gradient(57deg, rgba(40, 67, 149, 1) 0%, rgba(91, 203, 240, 1) 36%, rgba(255, 248, 236, 1) 73%);
}

.tabcontent .game{
    display: inline-block;
    width: 800px;
    padding: 30px;
}

.tabcontent .game:hover{
    background-color: #C7CCD0;
}

.tabcontent .game img{
    width: 100%;
    margin-bottom: 20px;
}

.tabcontent .game .description{
    width: 100%;
    color: #272932;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.tab .tablinks{
  color: #284395;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: inherit;
  font-size : 45
}

/* Create an active/current tablink class */
.tab button.active {
  color: #284395;
  text-decoration: underline #284395;

}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  background: #FFF8EC;

  background: linear-gradient(0deg,rgba(255, 248, 236, 1) 0%, rgba(255, 244, 194, 1) 94%, rgba(255, 248, 236, 1) 100%);
}
.tabcontent .game .mini-title{
  color: #284395;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30;
}