

body{
    background-color:#E7ECEF;
    
}

.title{
    color: #272932;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80;
    margin-top: 50px;
    
}

.subtitle{
    color: #272932;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30;
}

.tabcontent .game{
    display: inline-block;
    width: 800px;
    padding: 30px;
}

.tabcontent .game:hover{
    background-color: #C7CCD0;
}

.tabcontent .game img{
    width: 100%;
    margin-bottom: 20px;
}

.tabcontent .game .description{
    width: 100%;
    color: #272932;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}